.body {
  background-color:#000000;
  
}

/* Mobile styles */
@media screen and (max-width: 767px) {
  .small-image {
    width: 70px;
  }
}

/* PC styles */
@media screen and (min-width: 768px) {
  .small-image {
    width: 90px;
  }
}



.icon {
  position: fixed;
  display: flex;
  right: 25px;
  bottom: 25px;

  width: 30px;
  height: 30px;
}

.icon path {    
  fill: #1da1f2;
  stroke: none;
}
